<!DOCTYPE html>
<html manifest="shooterapp.manifest" lang="en">
<head>
  <meta charset="utf-8">
  <title>ShooterApp</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />


  <link href="style.css" type="text/css" rel="stylesheet">
  <link href="libraries/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="libraries/bootstrap/css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet">
  <link rel="apple-touch-icon" href="icon.png" />


  <script src="libraries/jquery.js"></script>
  <script src="libraries/underscore.js"></script>
  <script src="libraries/backbone.js"></script>
  <script src="libraries/pretty.js"></script>
  <script src="script.js"></script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">ShooterApp</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#new">Ny registrering</a></li>
          <li><a href="#results">Se resultater</a></li>
          <li><a href="#contact">Indstillinger</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="page container"></div>


<div class="container">
  <hr>
  <p>ShooterApp - ide og udvikling af <a href="http://twitter.com/trogels">Troels lenda</a></p>

</div>




<script src="libraries/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>


<!-- Templates -->

<script type="text/template" id="startscreen-template">
  <h1>ShooterApp v3</h1>
  <hr>
  <p class="lead">Registrering af serier mm for din forening.</p>
  <p class="alert">For at komme igang, skal der oprettes en ny database til jeres forening og appen skal <a href="#/settings">indstilles</a></p>
  <img src="target.png" style="width:250px;float:right;margin-left:20px" class="img-polaroid">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis consectetur tincidunt. Maecenas at augue arcu. Morbi eleifend arcu non felis ornare ac mattis eros vulputate. Nullam varius pellentesque scelerisque. Ut at magna tortor, nec congue erat. Praesent laoreet erat et turpis euismod quis sagittis sapien viverra. Praesent ante justo, luctus eget pretium a, auctor sed est. Sed adipiscing tempus sapien rutrum ullamcorper. Maecenas eget ultrices nisl.</p>

  <p>Vivamus sagittis massa eget magna feugiat et fringilla lectus sodales. Vivamus bibendum nibh et .</p>



</script>

<script type="text/template" id="edit-user-template">
  <h1><%= player ? 'Rediger' : 'Opret' %> skytte</h1>
  <hr>
  <form class="edit-user-form">
    <label>Skytte fornavn</label>
    <input type="text" name="firstname" value="<%= player ? player.get('firstname') : '' %>"><br>
    <label>Skytte efternavn</label>
    <input type="text" name="familyname" value="<%= player ? player.get('familyname') : '' %>"><br>
    <label>Skytte nummer</label>
    <input type="text" name="number" value="<%= player ? player.get('number') : '' %>"><br>
    <% if (player) { %>
      <input type="hidden" name="id" value="<%=player.get('_id').$oid %>" />

    <% } %>
    <hr>
    <button type="submit" class="btn"><%= player ? 'Rediger' : 'Opret' %></button>
  </form>
</script>

<script type="text/template" id="edit-serie-type-template">
  <h3>Opret ny serie</h3>
  <form class="edit-serie-form">
    <label>Titel</label>
    <input type="text" name="title"><br>
    <button type="submit">Opret</button>
  </form>
</script>


<script type="text/template" id="show-player-list">
  <h1>Skytter</h1>
  <hr>
  <table class="table table-striped">
    <% _.each(players, function(player){ %>
      <tr>
        <td>
          <div><strong><%=player.get('number')%></strong> <%=player.get('firstname')%>
            <%if(player.get('last_serie_date')){%><small class="muted"><em>(<span class="hidden-phone">Sidste registrering er</span> <%=player.get('last_serie_date')%>)</em></small><%}%></div>

        </td>
        <td>
          <div class="text-right" >
          <%if(player.get('last_serie_date')){%>
            <a class="btn btn-mini btn-success" href="#/new_score/<%=player.get('last_serie_id')%>"><i class="icon-plus icon-white"></i></a>
            <%}%>
            <a class="btn btn-mini" href="#/start_new_serie/<%=player.get('_id').$oid %>"><i class="icon-asterisk"></i></a>
            <a class="btn btn-mini btn-warning hidden-phone" href="#/edit/<%=player.get('_id').$oid%>"><i class="icon-edit icon-white"></i></a>
          </div>
        </td>

      </tr>
    <% }) %>

  </table>
  <hr>
  <a href="#/new_player" class="btn">Opret skytte</a>
</script>


<script type="text/template" id="create-serie-list">
  <h1>Create new serie:</h1>
  <hr>
  <form class="new-serie-form">
    <label>Evt. Beskrivelse</label>
    <textarea name="beskrivelse"></textarea>
    <input type="hidden" name="date" value="<%=date%>">
    <input type="hidden" name="player_id" value="<%=player%>">
    <hr>
    <button type="submit" class="btn">Create serie</button>
  </form>

</script>


<script type="text/template" id="roundtype-list">
  <h1>Vælg serie type:</h1>
  <hr>
  <ul>
    <% _.each(roundtypes, function(type){ %>
    <li>
      <a href="#/scoring/<%=serieid%>/<%=type.get('_id').$oid%>"><%=type.get('title')%></a>
    </li>
    <% }) %>
  </ul>

  <hr>
  <a href="#/new_serie_type" class="btn">Tilføj ny type</a>

</script>

<script type="text/template" id="register-round-list">
  <h1>Scoring</h1>
  <hr>
  <p class="alert alert-info"><button type="button" class="close" data-dismiss="alert">×</button>Du er ved at registrere en () serie for playername</p>


  <div class="alert alert-success">Score: <span class="totalscore"></span>/<span class="bulls"></span> af <span class="numberofshots"></span></div>

  <button class="add-score btn btn-large" data-val="0">0</button>
  <button class="add-score btn btn-large" data-val="3">3</button>
  <button class="add-score btn btn-large" data-val="4">4</button>
  <button class="add-score btn btn-large" data-val="5">5</button>
  <button class="add-score btn btn-large" data-val="6">6</button>
  <button class="add-score btn btn-large" data-val="7">7</button>
  <button class="add-score btn btn-large" data-val="8">8</button>
  <button class="add-score btn btn-large" data-val="9">9</button>
  <button class="add-score btn btn-large" data-val="10">10</button>
  <button class="add-score btn btn-large" data-val="x">x</button>


  <hr>
  <a href="submit" class="submit-score btn">Indsend</a> <a href="reset" class="reset-score btn">Nulstil</a>

</script>


<script type="text/template" id="show-results-overview">
  <h1>Seneste resultater</h1>
  <hr>
  <table class="table table-striped">
    <% _.each(series, function(serie){ %>
    <tr>
      <td>
        <%=serie.get('playerno')%>
      </td>
      <td>
        <%=serie.get('playername')%>
      </td>
      <td>

      </td>

    </tr>
    <% }) %>

  </table>

</script>



</body>
</html>
