<div>
  <ul>
    <li ng-repeat="value in values">
      <button ng-click="saveShot()">{{ value }}
  </ul>
  <ul>
    <li ng-repeat="shot in shoot.shots" ng-click="shot.ignoreToggle()"
      class="{{ shot.ignore }}"> {{ shot.value }}
  </ul>
  <span>{{ shoot.getScore() }}</span>
  <span>{{ shoot.getBulls().length }}</span>
  <span>{{ shoot.shots.length }}</span>
  <ul>
    <li ng-repeat="shoot in shoots">
      {{ shoot.shooter }}
      {{ shoot.discipline }}
      {{ shoot.timestamp | date:'short' }}
      <p ng-repeat="shot in shoot.shots">{{ shot.value }}</p>
      {{ shoot.getScore() }}
  </ul>
  <input ng-model="shooter">
  <select ng-model="discipline">
    <option>Duel
    <option>Tempo
  </select>
  <button ng-click="saveShoot()"> Save Shoot
