<div>
  <ul class="buttons">
    <li ng-repeat="value in values">
      <button ng-click="saveShot()">{{ value }}
  </ul>
  <ul class="stage">
    <li ng-repeat="shot in stage.shots" ng-click="shot.ignoreToggle()"
      class="ignore-{{ shot.ignore }}"> {{ shot.value }}
  </ul>
  <span>{{ stage.getScore() }}</span>
  <span>{{ stage.getBulls().length }}</span>
  <span>{{ stage.getShots().length }}</span>
  <!--<ul>
    <li ng-repeat="stage in stages">
      {{ stage.shooter }}
      {{ stage.discipline }}
      {{ stage.timestamp | date:'short' }}
      {{ stage.getScore() }}
  </ul>-->
  Choose shooter:
  <ul>
    <li ng-repeat="player in players">
      {{player.name}}
  </ul>
  <input ng-model="player">
  <select ng-model="discipline">
    <option>Duel
    <option>Tempo
  </select>
  <button ng-click="saveStage()"> Save Stage
